@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

@font-face {
    font-family: 'khFont';
    src: url('/fonts/kingdom_hearts/Kingdom_Hearts_Font.ttf');
}

body{
    max-height: 100%;
    max-width: 100%;
    background-color: #0e7c7a33; /* #21ca682f */
    color: #27233a; /* text color */
}

.flexCol{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.flexRow{
    display: flex;
    height: 100%;
    flex-direction: row;
}

.flexRow2{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* Jessee Horton */
#name{
    font-family: 'khFont';
    font-size:xx-large;
}

#name2{
    font-family: 'Jersey 20', sans-serif;
    font-size: xx-large;
}

#h1{
    font-family: 'Jersey 20', sans-serif;
    font-size: xx-large;
    color: #ef476f
}