body{
    max-height: 100%;
    max-width: 100%;
    background-color: #0e7c7a33; /* #21ca682f */
    color: #27233a;
}

h1{
    text-align: center;
    color: green;
    font-family: 'Arial Black', Gadget, sans-serif;
}