body{
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(33, 202, 104, 0.185);
    color: black
}

h1{
    text-align: center;
    color: green;
    font-family: 'Arial Black', Gadget, sans-serif;
}